foursquare.client-id=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
foursquare.client-secret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
telegram.username=XXXXXXX
telegram.token=XXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXX