foursquare.client-id=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
foursquare.client-secret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
telegram.username=XXXXXXXXX
telegram.token=XXXXX:XXXXXXXXXXXXXXXXXXXXXXXXX

#Local MongoDB config
spring.data.mongodb.authentication-database=admin
#spring.data.mongodb.username=
#spring.data.mongodb.password=
spring.data.mongodb.database=findurplace
spring.data.mongodb.port=27017
spring.data.mongodb.host=localhost

# App config
server.port=8080
spring.application.name=findYourPlace